<div class="user_login_form_content">
  <h2>Sign up</h2>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "text-center border border-light p-5") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    

    <div class="row">
      <div class="col-sm-3 text-right">
        <%= f.label :email %>
      </div>
      <div class="col-sm-6">
        <%= f.email_field :email, autofocus: true,  class: "form-control " %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 text-right">
        <%= f.label :user_name %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :user_name, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 text-right">
        <%= f.label :password %>
      </div>
      <div class="col-sm-6">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password , class: "form-control" %>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-3 text-right">
        <%= f.label :password_confirmation %>
      </div>
      <div class="col-sm-6">
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary"  %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>