.share_move_form_content
  .jumbotron
    .card_title Share a Youtube movie

    = simple_form_for @movie, :html => { :class => "movie_form" } do |f|
      .row
        .col-sm-2.text-right Youtube URL
        .col-sm-10
          = f.input :movie_url, label: false, input_html: { class: "form-control" } 
      .row
        .col-sm-2.text-right Title
        .col-sm-10
          = f.input :title, label: false, input_html: { class: "form-control" } 
      .row
        .col-sm-2.text-right Description
        .col-sm-10.movie-desc-area
          = f.input :description, as: "text" , label: false, input_html: { class: "form-control" } 

      .row
        .col-sm-2
        .col-sm-10
          .text-center
            = f.button :submit, value: "Share" ,class: "btn btn-primary btn-lg"
            br/
            = link_to 'Back', movies_path

      / p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
      / hr.my-4/
      / p It uses utility classes for typography and spacing to space content out within the larger container.
      / a.btn.btn-primary.btn-lg href="#" role="button"  Learn more





/ = simple_form_for @movie, :html => { :class => "form-horizontal" } do |f|
/   - if @movie.errors.any?
/     #error_explanation
/       h2 = "#{pluralize(@movie.errors.count, "error")} prohibited this movie from being saved:"
/       ul
/         - @movie.errors.full_messages.each do |message|
/           li = message
  


/   = f.error_notification
/   = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

/   .row.mt-2
/     .col-sm-2 Title
/     .col-sm-10 
/       = f.input :title, label: false
/   .row.mt-2
/     .col-sm-2 Description
/     .col-sm-10 
/       = f.input :description, as: :text, label: false
/   .row.mt-2
/     .col-sm-2 Movie Url
/     .col-sm-10 
/       = f.input :movie_url, label: false

/   / .form-inputs
/   /   / = f.input :user_id
/   /   / = f.input :description
/   /   = f.input :like_number
/   /   = f.input :unlike_number
/   /   = f.input :movie_url
/   /   = f.input :source_type
/   /   = f.input :status

/   .form-actions
/     = f.button :submit
