- if movie.present?
  .movie_card_content
    .row
      .col-sm-5
        iframe.embed-responsive-item allowfullscreen="" frameborder="0" src="#{movie.movie_url}?enablejsapi=1&amp;autoplay=1" height="250"
      .col-sm-6
        .card-title = movie.title
        .card-shared 
          | Shared by: 
          = movie.user_email
        .card-link_num
          = movie.like_number.to_i
          = fa_stacked_icon "thumbs-up"
          |&nbsp; &nbsp;
          = movie.unlike_number.to_i
          = fa_stacked_icon "thumbs-down"
          |&nbsp; &nbsp;
        .card-description
          p Description:
          strong = movie.description
