<div class="user_login_form_content">
  <h2>Forgot your password?</h2>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    

    <div class="row">
      <div class="col-sm-2 text-right">
        <%= f.label :email %><br />
      </div>
      <div class="col-sm-8">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: false,
                    input_html: { autocomplete: "email" , class: "form-control"} %>

      </div>
    </div>




    <div class="form-actions">
      <%= f.button :submit, "Send me reset password instructions",  class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>



