nav.navbar.navbar-expand-lg.navbar-dark.primary-color
  / = link_to image_tag("/assets/statics/fun_logo.jpg"), "#", :class=>"navbar-brand nav_img_logo"

  .navbar-brand
    .nav_img_logo 
      = link_to root_path do
        = fa_stacked_icon "bullseye"
  .navbar-brand
    = link_to "Funny Movie", root_path,  class: "page_title text-white"
  .navbar-collapse
    =render 'shared/top_menu'
    =render 'shared/regrister'
