/ ul.navbar-nav.mr-auto
/   li.nav-item class="#{nav_active_css('home', 'index')}"
/     = link_to "Home", root_path, class: "nav-link"
/   li.nav-item class="#{nav_active_css('user_profiles', 'index')}"
/     = link_to "Users", user_profiles_path, class: "nav-link"
/   li.nav-item class="#{nav_active_css('rooms', 'index')}"
/     = link_to "Rooms", rooms_path, class: "nav-link"
/   li.nav-item class="#{nav_active_css('bookings', 'index')}"
/     = link_to "Bookings", bookings_path, class: "nav-link"
/   li.nav-item class="#{nav_active_css('invoices', 'index')}"
/     = link_to "Invoices", staying_rooms_invoices_path, class: "nav-link"

/     