<div class="user_login_form_content">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-sm-3 text-right">
        <%= f.label :user_name %><br />
      </div>
      <div class="col-sm-6">
        <%= f.text_field :user_name, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 text-right">
        <%= f.label :password %><br />
      </div>
      <div class="col-sm-6">
        <%= f.password_field :password, autofocus: true, class: "form-control" %>
      </div>
    </div>


    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me , class: "check_box_remember_me"%>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>