@media(min-width: 1440px) {
  .content {
    padding-left: 250px;
  }
}

.nav_img_logo img{
  width: 80px;
  float: left;
  color: red;
}

.top_user_form{
}
.md-form{
  margin-top: 20px;
  
}

.movie-desc-area {
  textarea{
    height: 100px;
    width: 103%;
    // width: 660px;
  }
}

.page_title{
  position: relative;
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
}