doctype html
html.full-height lang="en" 
  head
    title FunnyMovies
    = csrf_meta_tags
    = csp_meta_tag
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 

  body
    /! Main Navigation
    header
      =render 'shared/header'
    main
      .container.body_content
        = yield

    footer

javascript:
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });

